body {
  background-color: #9696DA;
  text-align: center;
}
.body {
  background-color: #9696DA;
  background-image: url(img/gente.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.espacio {
  width: 100%;
  height: 550px;
}
.counter {
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu {
  position: absolute;
  top: 15px;
  right: 40px;
}
.menu img {
  width: 100px;
  border-radius: 20px;
}
.menu-galeria {
  background-color: rgba(245, 245, 220, 0.41);
  border-radius: 45%;
}
.desplegable {
  background-color: rgba(169, 169, 169, 0.569);
  position: absolute;
  font-size: 30px;
  list-style: none;
  width: 200px;
  right: 5px;
  top: -1000px;
  z-index: 100;
}
.contenedor:hover > .desplegable {
  transition: 1s all;
  top: 50px;
}
.desplegable a {
  text-decoration: none;
  color: black;
  padding: 5px;
}
li {
  padding: 15px 0px;
  margin-left: -30px;
}
.opcion:hover {
  color: white;
}

h1 {
  font-size: 40px;
}

.logo {
text-align: left;
width: 400px;
}
.rugido {
  position: absolute;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

}

.milei {
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 500px;
}
.milei2023 {
  font-size: 70px;
  font-weight: bolder;
  position: absolute;
  right: 100px;
  bottom: 40px;
}

.mileitario {
  position: absolute;
  width: 60%;
  text-align: center;
  z-index: -1;
}
.galeria {
  top: 40px;
}
.quienes {
  margin: 10px 100px;
  font-size: 25px;
  font-weight: bold;
  text-align: justify;
}
h2 {
  text-decoration: underline;
}

h3 a {
  text-decoration: none;
  color: blue;
  background-color: rgba(128, 128, 128, 0.703);
}

.videoContents, .fotosContents {
  display: inline;
}
.video {
  display: inline;
  width: 450px;
  border: 5px solid white;
  margin: 10px;
}
.fotos {
  display: inline;
  width: 450px;
  border: 5px solid white;
  margin: 10px;
}
.fotoG {
  width: 350px;
}

footer {
  color: white;
}
.footer {
  position: absolute;
  bottom: 10px;
  margin: 0px 250px;
  z-index: 1;
}

@media only screen and (max-width: 1500px) {
  .footer {
    margin: 0 150px;
  }
  .milei2023 {
    font-size: 60px;
    right: 50px;
  }
}

@media only screen and (max-width: 1070px) {
  .footer {
    margin: 0 90px;
  }
  .milei {
    width: 250px;
    left: 450px;
  }
  .milei2023 {
    font-size: 50px;
  }
  .quienes {
    margin: 10px 70px;
  }
}

@media only screen and (max-width: 950px) {
  .body {
    background-size: auto;
  }
  .espacio {
    height: 750px;
  }
  .menu img {
    width: 80px;
  }
  .footer {
    margin: 0;
    font-size: 13px;
  }
  .milei2023 {
    font-size: 40px;
    right: 10px;
  }
  .milei {
    width: 200px;
    left: 350px;
  }
  .logo {
    width: 350px;
  }
  h1 {
    font-size: 30px;
  }
  .rugido {
    font-size: 17px;
  }
  .quienes {
    margin: 10px 40px;
  }
}

@media only screen and (max-width: 680px) {
  .video, .fotos {
    width: 340px;
    margin: 0;
  }
  .milei {
    width: 150px;
    left: 20px;
  }
  h1 {
    font-size: 20px;
  }
  .menu img {
    width: 70px;
  }
  .menu {
    top: 5px;
    right: 0px;
  }
  .footer {
    font-size: 11px;
  }
  .quienes {
    margin: 10px 0px;
    font-size: 18px;
  }
  .mileitario {
    width: 65%;
  }
}